/*reset browser css*/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  
}
.Sport_cubes{
    
    display: flex;
    padding: 24px 80px;
    gap: 32px;
    justify-content: center; 
    overflow-x: auto;
    margin-top:48px;
    margin-bottom:48px;
}
.Sport_cubes img{
    width: 296px;
    height: 208px;
    flex-shrink: 0;
} 

.Sport_cubes img:hover:nth-child(1) {
    /* Change the image path for the first image when hovering */
    content: url('img/korv2.png');
}

.Sport_cubes img:hover:nth-child(2) {
    /* Change the image path for the second image when hovering */
    content: url("img/võrk2.png");
}

.Sport_cubes img:hover:nth-child(3) {
    /* Change the image path for the third image when hovering */
    content: url("img/laua2.png");
}

.Sport_cubes img:hover:nth-child(4) {
    /* Change the image path for the fourth image when hovering */
    content: url("img/dire2.png");
}
@media (max-width: 1450px) {
    .Sport_cubes {
        justify-content: flex-start; /* Shift to the left when the width is 768px or smaller */
    }
}
/** body **/
body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
/** nav bar **/
  nav {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 150px;
    padding: 10px 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
  }
  nav a:hover {
    color: grey;
  }    
  
  nav .logo {
    display: flex;
    align-items: center;
  }
  
  nav img {
    max-height: 130px; 
    margin: 5px 10px;
  }
/** sections **/
  section {
    margin: 20px;
  }

/* Carousel */

.Carousel {
	width: 100%;
	text-align: center;
	font-family: 'Montserrat'
}

.slide img {
	width: 100%;
	height: auto;
	display: block;
} 

.slide-btn {
	margin: 10px
} 

.prev-btn,
.next-btn {
	cursor: pointer;
	background: #f5f7fa;
	padding: 2px 5px;
}

.slide-index {
	background: #f5f7fa;
	padding: 2px 20px;
} .History{
    height: auto;
    background: #F5F7FA;
} 
.History .mid{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}  
.History .mid img{
    max-width: 565px;
    height:auto;
    padding-top:0; 
    padding-bottom: 22px;
    margin-left:24px;
} 
.History img {
    display: block;
    max-width: 282px;
    height:auto;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 37px; 
    padding-bottom: 20px;
    flex-shrink: 0;
    margin:0 auto;
}
.History p{
    width: 888px;
    color: var(--Must, #000);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left:85px;
    padding-bottom:29px;
    margin: 0;
    justify-content: center;;
    margin:0 auto;
} 
.History a{
    text-decoration: underline;
    width: 115px;
    float:right;
    color:inherit;
    font-family: Montserrat;
} 
.Sponsors{
    height:271px;
    margin-top: 48px;
    margin-bottom:48px;
    padding-bottom:27px;
    text-align: center;
}


.title {
    display: block;
    margin: 0 auto;
   
}

.side {
    display: flex;
    justify-content: center;
    margin-top: 9px;
}

.side-image {
    margin: 0 36.5px; 
}